html,
body {
  --main-color: hsla(59, 96%, 53%, 0.98);

  --link-color--active: #91646a;
  --link-color--disabled: #647091;
  --link-color--hover: #917864;
  --link-color: #6a9164;

  --background-main: #b8c6db;

  --default-skew: 11deg;

  --default-gap: 2ch;

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  max-width: 100vw;
  list-style: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

.visually-hidden {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
}

.mate-glass {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255, 255, 255, 0.72);
}
